/* Animations */

/* Toolchain status icon effects */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    /* transform: rotate(720deg); */
  }
}

@keyframes reversed-spin {
  from {
    transform: rotate(360deg) scaleX(-1);
  }
  to {
    transform: rotate(0deg) scaleX(-1);
  }
}

/* Styling */

h4.ui.header.toolchain-status {
  display: flex;
  align-items: center;
  padding: 6px 14px;
  font-size: 14px;
  color: #777;
}

.toolchain-status-icon {
  height: 20px;
  width: 20px;
  margin-right: 12px;
}


/* spin with bezier curve speed */
.toolchain-status-icon.spin {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 1200ms;
  /* we can tweak the spin if it's too flashy */
  animation-timing-function: cubic-bezier(0.65, 0, 0.6, 1);
}

/* smooth rotation */
.toolchain-status-icon.rotate {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 1200ms;
  animation-timing-function: linear;
}

/* spin with reversed direction and svg flip */
.toolchain-status-icon.spin-reversed {
  transform: scaleX(-1);
  animation-name: reversed-spin;
  animation-iteration-count: infinite;
  animation-duration: 1200ms;
  /* animation-timing-function: linear; */
  animation-timing-function: cubic-bezier(0.65, 0, 0.6, 1);
}
